<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgdeIiGPuYEG6YZGmgOSttbiKpdGQ71gA</string>
	<key>GCM_SENDER_ID</key>
	<string>339926289202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.trustdog</string>
	<key>PROJECT_ID</key>
	<string>trustdog-k1q3oq</string>
	<key>STORAGE_BUCKET</key>
	<string>trustdog-k1q3oq.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339926289202:ios:e3af9efbe7eb1b5f6ca52b</string>
</dict>
</plist>